/* shared styles */
* {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 2.5625rem;
  background: #e02c6d;
  border: none;
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  align-items: flex-start;
  gap: 0.5rem;
}
/* header section */
header {
  padding-left: 120px;
  padding-right: 132px;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.4375rem;
  gap: 30.875rem;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.125rem;
}
.nav-ul li {
  list-style: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 8.3125rem;
  align-items: center;
  margin-top: 41.8px;
}
.banner-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem; /* 134.615% */
  margin-bottom: 16px;
}
.banner-description {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 505px;
  margin-bottom: 16px;
}
.banner-img {
  width: 475px;
  height: 475px;
  background-image: url("./images/circle-design.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  max-width: 440px;
}
/* brand section styles */
.brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  margin-bottom: 100px;
}
.brand {
  width: 1110px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60.42px;
  border: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    rgba(128, 128, 128, 0.438),
    transparent
  );
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
}
