/* shared styles */
* {
  font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
}
.btn-primary {
  color: #fff;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border-radius: 2.5625rem;
  background: #e02c6d;
  border: none;
  display: inline-flex;
  padding: 0.625rem 1.5rem;
  align-items: flex-start;
  gap: 0.5rem;
}
/* header section */
header {
  padding-left: 120px;
  padding-right: 132px;
}
/* nav styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5.4375rem;
  gap: 30.875rem;
}
.nav-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.nav-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2.125rem;
}
.nav-ul li {
  list-style: none;
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  gap: 8.3125rem;
  align-items: center;
  margin-top: 41.8px;
}
.banner-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 3.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.375rem; /* 134.615% */
  margin-bottom: 16px;
}
.banner-description {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 505px;
  margin-bottom: 16px;
}
.banner-img {
  width: 475px;
  height: 475px;
  background-image: url("./images/circle-design.svg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-img img {
  max-width: 440px;
}
/* brand section styles */
.brand-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 69px;
  margin-bottom: 100px;
}
.brand {
  width: 1110px;
  height: 108px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60.42px;
  border: 1px solid;
  border-image: linear-gradient(
    to right,
    transparent,
    rgba(128, 128, 128, 0.438),
    transparent
  );
  border-left: 0;
  border-right: 0;
  border-image-slice: 1;
}
/* main section styles */

/* popular section styles */
.popular {
  padding-left: 196px;
  padding-right: 196px;
  margin-bottom: 100px;
}

.popular-title {
  color: #3a3a3a;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 70px; /* 250% */
  text-align: center;
}
.popular-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.popular-card {
  height: 476px;
  flex-shrink: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
  padding-top: 17px;
  text-align: center;
}
.img-card {
  width: 300px;
}
.card-title {
  color: #18191f;
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px; /* 142.857% */
  margin-top: 16px;
  text-align: left;
  padding-left: 20px;
}
.card-price {
  color: rgba(0, 0, 0, 0.87);
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 36px */
  text-align: left;
  padding-left: 20px;
}
.card-rating {
  color: #5e6366;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 157.143% */
  letter-spacing: 0.1px;
  text-align: left;
  padding-left: 20px;
}
.card-description {
  color: var(--gray-50, #787885);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 143%; /* 20.02px */
  letter-spacing: 0.252px;
  text-align: left;
  padding-left: 20px;
}
.see-more {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 50px;
  gap: 2px;
}
.see-more p {
  color: rgba(224, 44, 109, 0.87);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
}
.see-more img {
  width: 16px;
  height: 14.00125px;
  flex-shrink: 0;
}
/* feature section styles */
.feature {
  display: flex;
  justify-content: center;
  gap: 96px;
  padding-bottom: 100px;
}
.feature-img {
  max-width: 404px;
}
.feature-title {
  color: #0a0826;
  font-family: Poppins;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 157.895% */
  margin-bottom: 16px;
}
.feature-description {
  color: #6c6c6c;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 175% */
  max-width: 501px;
  margin-bottom: 16px;
}
.btn-feature {
  border-radius: 0%;
}
/* footer styles */
footer {
  background-color: #0a0826;
  height: 239px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-title {
  color: #fff;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
footer p {
  color: var(--text-gray-300, #d9dbe1);
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 171.429% */
  text-align: center;
  margin-top: 3px;
}
.footer-logo {
  text-align: center;
  margin-top: 3px;
  display: flex;
  justify-content: center;
  gap: 16px;
}
